@{
    var metaDescription = ViewBag.Description ?? "Sai Sports India manufactures top-quality sportswear and uniforms in Lucknow.";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta name="google-site-verification" content="sV3SBXKSByxLntFEhMj3GGE1KINOVKMyCQy6pOGmQsw" />
   <link rel="canonical" href="https://saisportsindia.com" />
    <meta name="description" content="@metaDescription" />
    <meta name="keywords" content="Sports tracksuit manufacturer in Lucknow, Sports clothing manufacturer in Lucknow, Best Corporate Shirts manufacturer in Lucknow, School uniform supplier in Lucknow, sports T shirt suppliers in Lucknow, tracksuits manufacturer Lucknow, T-shirt manufacturers in Lucknow, Affordable sportswear manufacturers in Lucknow, Printed sports T-shirts in Lucknow, Top sportswear manufacturer in Lucknow, School sportswear manufacturer in Lucknow, Gym wear manufacturer in Lucknow, Sportswear wholesalers in Lucknow, Sai Sports India" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Font Awesome CDN (latest version) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AoS CDN (latest version) -->
    @* <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> *@
    @* <script src="https://unpkg.com/aos@next/dist/aos.js"></script> *@
    <!-- Stylesheets (latest version) -->
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/responsive.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/theme.css">
    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    @* Owl Carousel  *@
    <link rel="stylesheet" href="~/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owl.theme.default.min.css">

    <!-- Generated using https://microdatagenerator.org/localbusiness-microdata-generator/ -->
    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "ClothingStore",
            "name": "Sai Sports India - Best Sports Manufacturer in Lucknow | Readymade Garment Manufacturers",
            "address": {
                "@@type": "PostalAddress",
                "streetAddress": "2ND Floor, KB Plaza, Lover Lane, Adargan, Hazratganj, ",
                "addressLocality": "Lucknow",
                "addressRegion": "Uttar Pradesh",
                "postalCode": "226001"
            },
       "image": "https://lh3.googleusercontent.com/p/AF1QipOSgmo73ULFTDpkveEwIT-gNgdVEGpn_vcWsLMJ=h305-no",
        "@@id": "",
            "email": "puri.saisports@gmail.com",
            "telePhone": "+91 93359 07252",
            "url": "https://share.google/5LIV6JSShbUb9CnCC",
            "paymentAccepted": [ "cash", "check", "credit card" ],
            "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 11:00-19:00",
            "openingHoursSpecification": [ {
                "@@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday"
                ],
                "opens": "11:00",
                "closes": "19:00"
            } ],
            "geo": {
                "@@type": "GeoCoordinates",
                "latitude": "26.867716",
                "longitude": "80.951518"
            },
            "priceRange":"$"

        }
    </script>
</head>
<body>
    @* <div class="mouse-follower"></div> *@
    @Html.Partial("_Layout1")
    <!-- Header -->
            @RenderBody()
    <!-- Blog Section -->
    <section class=" footer-container" style="background-color: black;">
        <div class="section-content  ftr">
            <!-- Footer -->
            <div class="footer">
                <div class="footer-logo">
                    <h3>Company</h3>
                    <ul>
                        <li><i class="fa-solid fa-circle-arrow-right"></i> <a href="~/Desperation clothes catelogue.pdf" target="_blank">Company Profile</a></li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i> <a asp-action="Career">Career</a></li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i> <a asp-action="ContactUs">Contact Us</a></li>
                    </ul>
                    <a asp-action="SSAdmin" class="admin-login"target="_blank">Admin Login</a>
                </div>

                <div>
                    <h3>Follow us on</h3>
                    <ul>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                            <a href="https://www.facebook.com/profile.php?id=61576195661663" target="_blank">Follow Us on Facebook</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-linkedin"></i>
                            <a href="https://www.linkedin.com/company/sai-sportsindia/" target="_blank">Connect with Us on LinkedIn</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                            <a href="https://www.instagram.com/saisportsindia/" target="_blank">Join Us on Instagram</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-youtube"></i>
                            <a href="https://youtube.com/@@saisportsindialko?si=S--ajO6qxjivkfEb" target="_blank">Watch Us on YouTube</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Support</h3>
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> <a href="tel:93359 07252"> +91 93359 07252</a></p>
                        <p>
                            <i class="fa-solid fa-envelope"></i> <a href="mailto:puri.saisports@gmail.com"
                                                                    style="color: #fff;">puri.saisports@gmail.com</a>
                        </p>
                        <p>
                            <i class="fa-solid fa-location-dot"></i> <a href="https://maps.app.goo.gl/VqVqaFqZJZaNs6J59">
                                2nd floor, K.B. Plaza, Love Lane,<br> &nbsp; &nbsp; Hazratganj,
                                Lucknow, 226001
                            </a>
                        </p>
                    </div>
                </div>

                <div>
                    <h3>Our Location</h3>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2776.3841852059045!2d80.9437114!3d26.849346399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd1321d22115%3A0x53edcb4a3c32f787!2sSai%20Sports%20India%20-%20Best%20Sports%20Manufacturer%20in%20Lucknow%20%7C%20Readymade%20Garment%20Manufacturers!5e1!3m2!1sen!2sin!4v1755779916691!5m2!1sen!2sin" title="sai sports map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="btm-ftr">
        <p class="b-footer">
            Copyright 2025 Sai Sports | Designed By <a href="https://codecrafter.co.in/">
                <img height="40px"
                     src="~/images/CC Logo.png" alt="Code Crafter Web Solutions Lucknow">
            </a>
        </p>
    </section>

    <script src="~/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>
  @*   <script>
        AOS.init();
    </script> *@
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/owl.carousel.min.js"></script>
</body>
</html>
