@{
    ViewData["Title"] = "Clients";
    Layout = "_Layout";
}
<section class="dark-section pb-0">
    <div class="section-content">
        <div class="breadcrumb">
            <h2>Our Clients</h2>
            <a asp-action="Index">Home</a> <span>></span> <a>Our Clients</a>
        </div>
    </div>
    <div data-aos="fade-up" class="section-content client">
            <div class="client-img">
                <img src="~/clients/1.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 22.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 23.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 24.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 25.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 26.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 27.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 28.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 29.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 30.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 31.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 32.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 33.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 34.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 35.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 36.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 37.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 38.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 39.png" alt="Sai Sports India" />
            </div>
            <div class="client-img">
                <img src="~/clients/Group 40.png" alt="Sai Sports India" />
            </div>
    </div>
</section>
