@{
	ViewData["Title"] = "Director's Message";
	Layout = "_Layout";
}
<section class="dark-section pb-0">
    <div class="section-content">
        <div class="breadcrumb">
            <h2>Director's Message</h2>
            <a asp-action="Index">Home</a> <span>></span> <a>Director's Message</a>
        </div>
    </div>
    </section>
<!-- Director Msg Section -->
<section class="light-section">
    <div data-aos="fade-up" class="section-content  director">
        <div class="director-msg">
            <p class="green">____Director's Message</p>
            <h2>Mr. Alok Puri <span class="d-title">Director of Sai Sports</span></h2>
            <p class="justify">
                The company was established in 2003 by renowned national
                cricket player Mr. Alok Puri under the name of Sai Sports India.
            </p>
            <p class="justify">
                Company has own manufacturing facility unit.
                Company focuses on manufacturing deffierent clothing segments
                including sports apparels and deals in all the technical
                equipments in sports industry.
            </p>
            <p class="justify">
                Company has a manufacturing capacity of 5000 tracksuits and
                10000 tshirts per month.
                The Company focuses on working both in government and
                Private sector.
            </p>
            <p class="justify">
                Our prominent clients are Sports Authority of India, Indian
                Railways, U.P sports Directorate and many more.
            </p>
            <p class="justify"> As a forward-thinking company, we are constantly evolving to stay ahead of market trends, driven by the belief that sports inspire excellence and teamwork. We strive to be at the forefront of the sports industry, not only providing athletes with the best gear but also contributing to the growth and development of sports across the nation.</p>
        </div>
        <div class="img">
            <img src="~/images/founder.jpeg"
                 alt="Sai Sports India Lucknow" srcset="">
        </div>
    </div>
</section>