@model List<Service> 
@{
	ViewData["Title"] = "Services";
	Layout = "_Layout";
}
<!-- Services Section -->
<section class="dark-section pb-0">
    <div class="section-content">
        <div class="breadcrumb">
            <h2>Products Overview</h2>
            <a asp-action="Index">Home</a> <span>></span> <a>Products Overview</a>
        </div>
    </div>
    <div data-aos="fade-up" class="section-content  about pt-0 pb-0">
        <p class="green"></p>
        <h2>What We Stand For?</h2>
        <p class="justify">
            Sai Sports India for every individual is the urge to complete their vocation because it’s the duty and responsibility of each person to respond to their vocation.
            We, as a company, help every individual realize their dreams, which we are deeply passionate about.
            We will be, and we should be, passionate about achieving nature's calling.
            The organization is for the vocation, from the vocation, and by the vocation of every soul on this planet.
        </p>
    </div>
</section>
<section class="dark-section pb-0">
    <div data-aos="fade-up" class="section-content  gallery">
        <div class="garment-container">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-vector/colorful-polo-shirt-collection-front-back_23-2148619966.jpg?t=st=1738574019~exp=1738577619~hmac=da91276e6fddd24288d8929556b14ce06a2111ef4e75ebbd24770e7ba91056ad&w=740" alt="Polo t Shirts">
            </div>
            <div class="garment-content">
                <h2>Polo T-Shirts</h2>
                <p><em>Legend Polo, Matrix Polo, and Synergy Polo!</em></p>
                <p>
                    Our Premium Polo T-Shirts are crafted for individuals who value both style and functionality. Made from high-quality, breathable fabrics, these t-shirts ensure long-lasting durability, comfort, and a sophisticated appeal. Whether you're dressing for corporate branding, sports teams, casual outings, or promotional events, our polo t-shirts provide a refined and professional look. Available in a wide range of colors, fits, and designs, they can be tailored to meet your specific needs. We offer multiple customization options, including embroidery, screen printing, and sublimation, allowing you to create a unique and personalized identity for your brand, team, or organization.
                </p>
            </div>
        </div>
        <div class="garment-container-1">
            <div class="garment-image">
                <img src="https://img.freepik.com/premium-vector/specification-soccer-sport_33916-913.jpg?w=740" alt="Round Neck T shirts">
            </div>
            <div class="garment-content">
                <h2>Round Neck T-Shirts</h2>
                <p><em>Sports T-Shirt, Cotton T-shirt, V Shape!</em></p>
                <p>Our Round Neck T-Shirts combine the best of style and comfort. Made from a high-quality blend of soft cotton and performance fabric, these tees offer lasting durability while ensuring maximum comfort throughout the day. With a wide range of colors and fits available, they’re the perfect choice for casual wear, corporate events, or promotional activities.</p>
                <p>Designed with versatility in mind, these t-shirts can be customized using various printing techniques such as screen printing, heat transfer, and sublimation. Whether you're ordering in bulk for a marketing campaign, team uniform, or brand merchandise, these tees make an ideal canvas to showcase your logo, message, or design.</p>
            </div>
        </div>
    </div>
</section>
<section class="dark-section pb-0">
    <div data-aos="fade-up" class="section-content  gallery">
        <div class="garment-container">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-vector/soccer-uniform-concept_52683-43143.jpg?t=st=1738574211~exp=1738577811~hmac=9a6a364e38432a364d56f52ca66d34bcd696aad8603fe7c9f98ba44d40a76578&w=740" alt="Sports Jerseys">
            </div>
            <div class="garment-content">
                <h2>Sports Jerseys</h2>
                <p><em>Round Neck Sublimation and Collar Sublimation T-Shirts!</em></p>
                <p>Engineered for athletes and fitness enthusiasts, our Sports Jerseys are crafted from advanced moisture-wicking and breathable fabrics that maximize performance and comfort. These lightweight jerseys provide excellent sweat absorption, ensuring players stay cool and dry even during the most intense workouts or games.</p>
                <p>Available in a variety of designs, colors, and styles, our jerseys are fully customizable to reflect your team’s identity. Whether you need custom team names, logos, or player numbers, our cutting-edge sublimation printing ensures crisp, vibrant details that won’t fade or peel. Perfect for sports teams, fitness clubs, or any athletic organization, our jerseys are designed to help you perform at your best while looking great.</p>
            </div>
        </div>
        <div class="garment-container-1">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-vector/realistic-baseball-cap_98292-6498.jpg?t=st=1738574327~exp=1738577927~hmac=29bd1a7408ea787bec74f1e82713746d666d55ac26e6e768c10a047bc4e91445&w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Caps Range</h2>
                <p><em>Wide Range, Commitment , and Tailored!</em></p>
                <p>Complete your look with our exclusive Caps Collection, designed to elevate both style and functionality for sports, casual wear, and promotional branding. Crafted from high-quality materials, these caps are built for long-lasting durability and maximum comfort, making them ideal for everyday wear or active use.</p>
                <p>
                    With adjustable fits and a wide range of color options, our caps are perfect for corporate giveaways, team branding, or making a personal fashion statement. Whether you’re outfitting your team, promoting your business, or just adding a stylish touch to your outfit, our caps deliver on both form and function.
                </p>
                <p>Customization options like embroidery and printed logos allow you to personalize your caps, making them an exceptional promotional product.</p>
            </div>
        </div>
    </div>
</section>
<section class="dark-section pb-0">
    <div data-aos="fade-up" class="section-content  gallery">
        <div class="garment-container">
            <div class="garment-image">
                <img src="https://img.freepik.com/premium-vector/delivery-uniform-jacket-cap-templates-design-corporate-work-shirts_115282-194.jpg?w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Track Suits</h2>
                <p><em>Sublimation and Micro-Peach Track Suits !</em></p>
                <p>Our premium Polo T-Shirts are designed for those who seek a perfect balance between style and comfort. Made from high-quality fabrics, these t-shirts offer durability, breathability, and a smart casual appeal. Whether for corporate branding, sports teams, or daily casual wear, our polo t-shirts provide a refined look with various color and branding options. Customization options include embroidery, screen printing, and sublimation to suit your brand identity.</p>
                <p>Sublimation Track Suits – Featuring vibrant designs with long-lasting prints, ideal for sports teams and events.</p>
                <p>Micro-Peach Track Suits – A softer and more comfortable fabric that provides warmth and breathability, perfect for training, casual wear, and corporate branding.</p>
            </div>
        </div>
        <div class="garment-container-1">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-vector/vector-blue-softshell-unisex-sport-jacket-with-hood-front-view-isolated-white-background_1284-45513.jpg?t=st=1738574470~exp=1738578070~hmac=327038bee19b41e04462cf9832fc1bc419e5e89112e57b25d258f4226240387a&w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Fleece Jackets</h2>
                <p><em>Classic, Fusion , and Zip Off Sleeve!</em></p>
                <p>Stay warm and look sharp with our Premium Fleece Jackets, designed to offer both comfort and style. Made from high-quality fleece, these jackets provide superior insulation to keep you cozy while maintaining a professional appearance. Whether you're heading to the office, enjoying a casual outing, or braving outdoor activities, our fleece jackets are the perfect blend of function and fashion.</p>
                <p>Available in a variety of designs and colors, they offer versatility for different occasions. Custom branding options, including embroidery and patches, allow you to personalize the jackets, making them a great choice for team uniforms, corporate wear, or promotional giveaways.</p>
            </div>
        </div>
    </div>
</section>
<section class="dark-section pb-0">
    <div data-aos="fade-up" class="section-content  gallery">
        <div class="garment-container">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-vector/shirts-shorts-set_1284-35670.jpg?t=st=1738574523~exp=1738578123~hmac=e3330290395c6e05b0234dc65b51aed494bf3a039b0089cf16dd4f25aaea6402&w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Sports Short</h2>
                <p>Engineered for maximum comfort and flexibility, our Sports Shorts are ideal for training, workouts, and casual wear. Crafted from premium moisture-wicking fabric, they keep you cool and dry by promoting breathability and sweat management, allowing for optimal performance during even the most intense activities.</p>
                <p>Available in a variety of styles, these shorts are perfect for athletes, gym enthusiasts, and corporate sports teams alike. With customization options such as logos and branding, they can easily be tailored to fit your team or business needs, making them a versatile choice for sports organizations, events, and promotional campaigns.</p>
        </div>
        </div>

        <div class="garment-container-1">
            <div class="garment-image">
                <img src="https://img.freepik.com/premium-photo/variety-medical-workwear-hangers-hospital-setting_1235831-64776.jpg?w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Medical Uniforms</h2>
                <p><em>Wide Range, Commitment , and Tailored!</em></p>
                <p>Our Medical Uniforms ensure comfort, hygiene, and professionalism for healthcare workers. We offer:</p>
                
                <ul class="target-list">
                    <li>Medical Scrubs – Lightweight and breathable scrubs designed for doctors, nurses, and hospital staff.</li>
                    <li>Medical Coats – High-quality professional coats offering durability and a polished look.</li>
                    <li>PPE Kits – Comprehensive personal protective equipment (PPE) kits including masks, gloves, shoe covers, and full-body protective suits for complete safety in medical and hazardous environments.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="dark-section">
    <div data-aos="fade-up" class="section-content  gallery">
        <div class="garment-container">
            <div class="garment-image">
                <img src="https://img.freepik.com/premium-vector/workwear-uniform-worker-clothesg-realistic_8071-42164.jpg?w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Labour Safety Uniforms</h2>
                <p><em>High Visibility, Spark, and Tow Tone High Jacket!</em></p>
                <p>Safety is our top priority with our Labour Safety Uniforms, specifically designed to offer protection in industrial, construction, and hazardous work environments. Constructed from durable, flame-resistant fabrics, these uniforms meet rigorous industry standards, ensuring maximum security for workers in high-risk settings.</p>
                <p>Available in a range of sizes and styles, our safety uniforms can be fully customized with company branding, reflective stripes for enhanced visibility, and reinforced stitching to provide added durability and protection. Whether for day-to-day work or in more extreme conditions, our uniforms are designed to keep your team safe and visible, no matter the environment.</p>
            </div>
        </div>
        <div class="garment-container-1">
            <div class="garment-image">
                <img src="https://img.freepik.com/free-photo/top-view-chef-attire_23-2151217195.jpg?t=st=1738574763~exp=1738578363~hmac=aef00fc97982228e5c98487bc79801da4fabe770d8cf553c137365bb9e50f67a&w=740" alt="Colorful Thread Spools">
            </div>
            <div class="garment-content">
                <h2>Hospitality Uniforms</h2>
                <p><em>Waistcoat, Jacket , and Gilet!</em></p>
                <p>Our Hospitality Uniforms are crafted with professionals in mind, offering the perfect balance of comfort, elegance, and functionality for those working in hotels, restaurants, catering, and corporate environments. Designed to provide a polished, professional appearance while ensuring all-day comfort, our uniforms are ideal for service staff, management, and everyone in between.</p>
               
                <ul class="target-list">
                    <li>Kitchen Aprons – Durable and stylish aprons for chefs and kitchen staff.</li>
                    <li>Formal Shirts – Professional shirts that offer a sharp and sophisticated look.</li>
                    <li>Formal Trousers & Skirts – High-quality formal wear designed for hotel staff, corporate employees, and service professionals.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

